<!-- partial:partials/_sidebar.html -->
{% load static %}
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
      <a class="" href="{% url 'vendor-dashboard' %}"><img height="50" src="{% static '/images/logok.jpg' %}" alt="logo" /></a>
    </div>
    <ul class="nav">
      <li class="nav-item profile">
        <div class="profile-desc">
          <div class="profile-pic">
            <div class="count-indicator">
              <img class="img-xs rounded-circle " src="{{request.user.profile.passport.url}}" alt="">
              <span class="count bg-success"></span>
            </div>
            <div class="profile-name">
              <h5 class="mb-0 font-weight-normal">{{user.first_name}} {{user.last_name}}</h5>
              <span>{{user.username}}</span>
            </div>
          </div>
          <a href="" id="profile-dropdown" data-toggle="dropdown"><i class="fa-solid fa-ellipsis-vertical fa-lg" style="color: white;"></i></a>
          <div class="dropdown-menu dropdown-menu-right sidebar-dropdown preview-list" aria-labelledby="profile-dropdown">
            <a href="{% url 'profile' %}" class="dropdown-item preview-item">
              <div class="preview-thumbnail">
                <div class="preview-icon bg-dark rounded-circle">
                  <i class="fa-regular fa-user"></i>      

                </div>
              </div>
              <div class="preview-item-content">
                <p class="preview-subject ellipsis mb-1 text-small">Profile</p>
              </div>
            </a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item preview-item">
              <div class="preview-thumbnail">
                <div class="preview-icon bg-dark rounded-circle">
                  <i class="fa-solid fa-gears"></i>  
                  
                </div>
              </div>
              <div class="preview-item-content">
                <p class="preview-subject ellipsis mb-1 text-small">Change Password</p>
              </div>
            </a>
            <div class="dropdown-divider"></div>
            <a href="{% url 'logout' %}" class="dropdown-item preview-item">
              <div class="preview-thumbnail">
                <div class="preview-icon bg-dark rounded-circle">
                  <i class="fa-solid fa-arrow-right-from-bracket"></i> 

                </div>
              </div>
              <div class="preview-item-content">
                <p class="preview-subject ellipsis mb-1 text-small">LOG OUT</p>
              </p>
              </div>
            </a>
          </div>
        </div>
      </li>
      <li class="nav-item nav-category">
        <span class="nav-link">Navigation</span>
      </li>
      {% if request.user.is_approved == True %}
      <li class="nav-item menu-items">
        <a class="nav-link" href="{% url 'vendor-dashboard' %}">
          <span class="menu-icon">
            <i class="fa-solid fa-laptop"></i>
          </span>
          <span class="menu-title">Dashboard</span>
        </a>
      </li>
      <li class="nav-item menu-items">
        <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
          <span class="menu-icon">
            <i class="fa-solid fa-group-arrows-rotate"  style="color: yellow;"></i>   

          </span>
          <span class="menu-title">Stocks</span>
        </a>
        <div class="collapse" id="ui-basic">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="{% url 'vendor-stock' %}">My Stocks</a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url 'add-stock' %}">Add Stock</a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item menu-items">
        <a class="nav-link" data-toggle="collapse" href="#ui-order" aria-expanded="false" aria-controls="ui-order">
          <span class="menu-icon">
            <i class="fa-solid fa-shop"  style="color: yellow;"></i>

          </span>
          <span class="menu-title">Orders</span>
        </a>
        <div class="collapse" id="ui-order">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="{% url 'add-order' %}">Add Orders</a></li>
            <li class="nav-item"> <a class="nav-link" href="{%url 'vendor-orders' %}">my Orders</a></li>
            <li class="nav-item"> <a class="nav-link" href="{%url 'vendor-completed-orders' %}">completed</a></li>
            <li class="nav-item"> <a class="nav-link" href="{%url 'vendor-pending-orders' %}">pending</a></li>
          </ul>
        </div>
      </li>

      <li class="nav-item menu-items">
        <a class="nav-link" href="{% url 'add-payment' %}">
          <span class="menu-icon">
            <i class="fa-solid fa-receipt" style="color: yellow;"></i>

          </span>
          <span class="menu-title">Payment</span>
        </a>
      </li>


        
      
   
     
     
      {% else %}

      <li class="nav-item menu-items">
        <a class="nav-link" href="{% url 'add-payment'%}">
          <span class="menu-icon">
            <i class="mdi mdi-currency-ngn"></i>
          </span>
          <span class="menu-title">Make Payment</span>
        </a>
      </li>

      {% endif %}
     
    </ul>
  </nav>